* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../img/constelacion2.png");
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
  color: white;

}

a {
  text-decoration: none;
  color: #08fdd8;
}

/*Estilos de la cabecera*/
.cabecera {
  display: flex;
  justify-content: space-between;
  background-color: #222020;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(139, 139, 139);
  z-index: 2;
}


/*Estilos del menú*/

.nav-cabecera{
  width: 100%;
  text-align:center;
  margin-right: 30px;
}

.nav-cabecera ul{
  list-style: none;
  text-decoration: none;
}

.nav-cabecera ul li{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 5px;
  font-weight: bold;
  transition: all .3s ease;
  font-size: 20px;
}

.nav-cabecera ul li:hover{
  transform:scale(1.2)

}

.nav-cabecera ul li a:hover{
  color:#ffffff;

}

/*Fin del menú*/

/*Estilos generales de los h1, b, h2, y botones*/
h1 {
  font-size: 100px;
  line-height: 120px;
}

h2 {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.boton {
  border: 1px solid #08fdd8; /*anchura, estilo y color borde*/
  padding: 15px 40px; /*espacio alrededor texto*/
  margin: 40px;
  background-color: transparent;
  color: #08fdd8;
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.boton:hover{
  background-color: #08fdd8;
  transition: 1s;
  color:#222020;
}

.boton:hover a{
  color: #222020;
  font-weight: bold;
}
/*Fin de estilos generales de los h1, h2, b y botones*/

/*Estilo general de las secciones y los box interiores*/

section {
  width: 100%;
  height: auto;
}

h3,
p {
  font-size: 20px;
  text-align: center;
}

.p-secciones{
  font-style: italic;;
  color: #d12c50;
  display: flex;
  margin-left: 30px;
}

/*Fin de estilos general de las secciones y box intenriores*/


.seccion-bienvenida {
  padding: 180px 100px;
}

.bienvenida{
  font-size: 100px;
  font-weight: bold;
  display: block;

}

.bienvenida:hover{
  transform:translate(50%,0);
  transition: all 3s;
  /*prefijos*/
  -webkit-transform: translate(50%,0);
  -o-transform: translate(50%,0);
  -moz-transform: translate(50%,0);
}

#logo {
  cursor: pointer;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  transition: all 0.3s;

}
#logo:hover{
 transform: scale(1.2);
 -webkit-transform: scale(1.2);
 -o-transform: scale(1.2);
 -moz-transform: scale(1.2);
}


.grid-bienvenida{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
     
}


div.grid-b2{
  display: flex;
  justify-content: center;
  opacity: 20%;
  transition: all 2s;
}

div.grid-b2:hover{
  transform: rotate3d(1, 2.0, 3.0, 30deg);
  -webkit-transform: rotate3d(1, 2.0, 3.0, 30deg);
  -o-transform: rotate3d(1, 2.0, 3.0, 30deg);
  -moz-transform: rotate3d(1, 2.0, 3.0, 30deg);
  opacity: 100%;
}

.grid-b2 img{
  width: 400px;
  height: 450px;
 
}

#boton-bienvenida {
  margin-left: 0;
}

/*Fin sección de bienvenida*/

/*CSS general del index*/

.boton-nosotros, .boton-portfolio, .boton-servicios{
  display: flex;
  justify-content: center;
}

/*Fin CSS general grid del index*/

/*Sección nosotros del index*/
  .nosotros{
    display: flex;
    justify-content: center;     

  }

  .item-nosotros{
    display: flex;
    flex-direction: column;
    margin: 50px;

  }

  .item-nosotros div img{
    object-fit: cover;
  }

  .img-nosotros{
      width: 450px;
      height: 450px;
      border-radius: 100%;
      border: 2px solid #ffffff;
      opacity: 40%;
  }

  .img-nosotros:hover{
    opacity: 100%;
    transition: 1s;
  }

/* Fin sección nosotros del index*/

/*Sección portfolio del index*/
.portfolio{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 30px 0 30px;
}

.portfolio img {
  width: 350px;
  height: 300px;
  border-radius: 10%;
  margin: 10px;
  filter: grayscale(100%);/*filtro byn sobre imagenes*/

}

.portfolio img:hover{
  filter: none;
}

/* Fin sección portfolio de index*/

/*Sección servicios del index*/


.servicios{
  display: flex;
  justify-content: center;
}

.servicios img {
  width: 500px;
  height: 300px;
  border-radius: 10%;
  margin: 10px;
  filter: grayscale(100%);/*filtro byn sobre imagenes*/
}


/* Fin sección servicios del index*/

/*CSS formulario y sección contacto*/
.formulario {
  width: 800px;
  margin: 20px 500px;
}

form {
  padding: 50px;
  margin: auto;
  border: 1px solid #08fdd8;
  background-color: transparent;
  text-align: left;
}

form label {
  width: 75px;
  background-color: transparent;
  margin-right: 5px;

}

form p{
  font-size: 15px;
  text-align: left;
}

form input {
  width: 270px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}

#asunto{
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  padding: 3px 10px;
  resize: none;
  display: block;
  font-family: "Poppins", sans-serif;
}

form .boton{
  margin: 0px 0;
}

form .boton:hover{
  color: #222020;
  font-weight: bold;
}
/*Fin CSS formulario*/

.titulos.paginas {
  padding-top: 100px;
}

/*comienzo pagina nosotros*/

.nosotros-introduccion {
  text-align: center;
  margin: 100px;
}

.nosotros-introduccion p {
  font-size: 20px;
}

.box-nosotros {
  position: relative;
  width: 1200px;
  height: 500px;
  margin: 10px 200px 0;
}

.nosotros-foto {
  position: absolute;
  top: 60px;
  left: 150px;
  width: 250px;
  height: 400px;
}

.nosotros-foto img {
  width: 250px;
  height: 400px;
}

.nosotros-datos {
  position: absolute;
  top: 60px;
  left: 450px;
  width: 600px;
  height: 300px;
}

.nosotros-datos p {
  font-size: 17px;
  padding: 10px;
  text-align: left;
}

.nosotros-datos h3 {
  text-align: left;
  font-size: 30px;
  padding: 5px 10px;
  color: #08fdd8;
}

/*fin pagina nosotros*/

/*Comienzo pagina servicios*/

.box-servicios {
  display: block;
  float: left;
  width: 350px;
  margin: 10px;
}

.box-servicios h3 {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.box-servicios img {
  width: 300px;
  height: 150px;
}

/*css del footer*/
.footer {
  background-color: #08fdd8;
  height: 320px;
  width: 100%;
  margin-top: 100px;
}

.contenido-footer {
  display: block;
  float: left;
  text-align: center;
  margin-left: 200px;
  padding: 20px;
  font-size: 21px;
  color: #222020;
}

#caja-vacia {
  display: block;
  float: left;
  width: 400px;
  height: 200px;
}

/*Mapa*/
iframe {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

/*Clase para las imagenes de redes sociales*/
.redes img {
  width: 120px;
  height: 120px;
  box-shadow: none;
  padding: 25px;
  margin-top: 30px;
}

/*Fin de footer*/

/*css copyright*/
#copyright {
  background-color: #222020;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
}

#copyright p{
  font-size: 15px;
}
