* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  background-image: url(../assets/img/constelacion2.png);
  font-family: 'Poppins', sans-serif;
  color:#f6f6f6;
}

/*Estilos del menú*/

.navbar-collapse{
  flex-grow: 0 !important; /*ordena hacia el costado el navbar*/
}

.navbar-nav li a{
  color:#f6f6f6;
  font-family: 'Poppins', sans-serif;
}

.active, .navbar-nav li a:hover{
  text-decoration:line-through !important;
  color: #08fdd8 !important;
}

.logoNavBar{
  width: 15%;
  padding: 10px;
}
/*Fin del menú*/

/*Estilos generales de las páginas*/

section{
  width: 100%;
  padding: 10px 50px;
  margin-bottom: 100px;
}

.mainContenido{
  display: flex;
  justify-content: center;
}

.botones{
  display: flex;
  justify-content: center;
}

.logo-paginas img{
  /*logo navbar de las páginas*/
  width: 10%;
  margin: 10px 20px;
}

.h2-secciones{
  padding: 20px 0;
  display: flex;
  justify-content: left !important;
  font-size: 1.8em;
  font-weight: bold;
}


/*Fin estilos generales paginas*/

/*Estilos generales de los botones*/

.boton {
  border: 1px solid #08fdd8; /*anchura, estilo y color borde*/
  padding: 15px 40px; /*espacio alrededor texto*/
  margin: 20px;
  background-color: transparent;
  color: #08fdd8;
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.boton a{
  text-decoration: none;
  color: #08fdd8;
}

.boton:hover{
  background-color: #08fdd8;
  transition: 1s;
  color:#222020;
}

.boton:hover a{
  color: #222020;
  font-weight: bold;
}
/*Fin de estilos generales de los h1, h2, b y botones*/

/*animación en el texto de bienvenida*/

.contBienvenida{
  padding-top: 50px;
}


.imgBienvenida{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.imgBienvenida img{
  width: 20em;
}

.colBoton{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

#boton-bienvenida {
  font-size: 0.9em;
  padding: 20px 35px;
}
/*Fin sección de bienvenida*/


/*CSS formulario y página contacto*/
.formulario {
  width: 75%;
  margin: 0 auto;
}

form {
  padding: 50px;
  border: 1px solid #08fdd8;
  background-color:transparent;
  text-align: left;
}

form label {
  display: block;
  text-align: left;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  
}

form input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  padding: 3px 10px;
  resize: none;
  display: block;
  font-family: 'Poppins', sans-serif;
}

form .boton{
  margin: 20px 0;
  background-color: #08fdd8;
  color: #222020;
}

form .boton:hover{
  color: #222020;
  font-weight: bold;
}
/*Fin CSS formulario*/

/*comienzo pagina nosotros*/

.img-nosotros{
  width: 20em;
  height: 20em;
  border-radius: 100%;
  border: 2px solid #ffffff;
  opacity: 40%;
  object-fit: cover;
}

.img-nosotros:hover{
opacity: 100%;
transition: 1s;
}

.row-nosotros{
  background-color: #131212;
  align-items: center; 
  border-radius: 10px !important;
  margin: 20px;
}

div.col-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #131212;
}

.nosotros-datos p {
  font-size: 1em;
  text-align: left;
  color: #f6f6f6;
}

.nosotros-datos h3 {
  text-align: left;
  font-size: 2em;
  color: #08fdd8;
}

/*fin pagina nosotros*/

/*Comienzo pagina portfolio*/
.boxPortfolio{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artPortfolio{
  background-color: #131212;
  height: 300px;
  border: 1px solid white;
  border-radius: 10px;
}

.artPortfolio div.col{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fin pagina portfolio**/


/*css del footer*/
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  padding: 20px;
  margin: 0;
}

.footerIndex{
  position: fixed;
}

.redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

/*Clase para las imagenes de redes sociales*/

.fa-linkedin, .fa-github, .fa-instagram{
  padding: 10px;
  font-size: 2.2em;
}

.footer a{
  color: #08fdd8;
}

.footer i:hover{
  transform: scale(1.2);
  color: #08fdd8;
}


.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  text-align: center;
  bottom: 0;
  font-size: 0.8em;
}


/*Fin de footer*/

/*Desde 0px hasta 900px se ejecutaran los siguientes estilos* Horizontal 750*/ 
@media screen and (max-device-width: 900px) /*and (max-device-height: 800px)*/{
  section{
    padding: 0;
    width: 100%;
  }

  .p-secciones{
    margin-left: 20px;
  }

  .cabecera{
    width: 100%;
    height: 37px;
    background-color: #222020;
  }

  i.fa-solid{
    font-size: 3em;
    padding: 20px;
    
  }

  .navbar{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #222020;
  }

  .navbar ul{
    background-color: #222020;  
  }

  .navbar ul li{
    list-style: none;
    padding: 15px 30px;
    background-color: #222020;
    width: 100%;
    font-size: 3em;
    
  }

  .navbar ul li a{
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    color: #f6f6f6;
    text-decoration: none;
    }


    /* bienvenida*/

    .imgBienvenida img{
    width: 15em;
  }

  #boton-bienvenida {
    font-size: 0.8em;
    padding: 15px 25px;
  }

  .contBienvenida{
      padding-top: 20px;
    } 
   
    .imgBienvenida img{
      width: 15em;
    } 
  
    #boton-bienvenida {
      font-size: 0.8em;
      padding: 10px 25px;
    }


.formulario{
  width: 90%;
  padding: 0;
}

form {
  padding: 0;
  margin: 0;
  border: 0;
}

.artPortfolio{
  margin: 0;
  width: 90%;
}

.fa-github, .fa-instagram, .fa-linkedin{
  font-size: 1.5em;
}

#copyright p{
  font-size: 0.7em;
}

/*Fin sección de bienvenida*/

}


@media screen and (max-device-height: 800px){
  .imgBienvenida img{
    width: 15em;
  }

  .imgBienvenida{
    margin-bottom: 0;
  }

  #boton-bienvenida {
    font-size: 0.8em;
    padding: 15px 25px;
  }

  .fa-github, .fa-instagram, .fa-linkedin{
    font-size: 1.5em;
  }
  
  #copyright p{
    font-size: 0.7em;
  }

}